* {
    margin: 0;
    padding: 0;
}

html {
    font-family: "DM Sans", sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    height: 100vh;
    background-image: url("Background.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.profile>img {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(38, 169, 225);
    border-radius: 100%;
}

.profile>p {
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 2px;
    color: white;
    text-transform: capitalize;
    text-align: center;
    padding: 10px;
}

.link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.link>a{
    display:flex;
    align-items:center;
    gap:15px;

    text-decoration:none;
    color:black;
    background:white;
    padding:15px;
    margin:8px 10px;
    border-radius:10px;
    font-size:22px;
    font-weight:600;

    transition:.3s;
}

.link>a img{
    width:35px;
    height:35px;
    object-fit:contain;
    background-color: transparent;
}

.link>a:hover{
    background:#86dbff;
    transform:scale(1.03);
}

.footer {
    text-align: center;
    padding: 20px;
}

.footer>i {
    color: white;
    font-size: 20px;
}
